<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <%- include('../../partials/stylesheet.ejs') %>
</head>

<body class="text-right">
    <%- include('../../partials/menu.ejs') %>
    <div class="container">
        <div class="row">
            <!-- Categories -->
            <main class="posts-listing col-8">
                <div class="row">
                    <div class="col-12">
                        <%- include('../../partials/messages.ejs') %>
                    </div>
                    <div class="col-12 mb-3" >
                        <div class="row" >
                            <a href="/admin/categories/create" >
                                <i class="bg-success p-3 rounded-circle text-white fa fa-plus"></i>
                            </a>
                            <span>ایجاد یه دسته بندی جدید</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <table class="table table-borderless table-striped ml-4">
                                <thead>
                                    <tr>
                                        <th>تاریخ ایجاد</th>
                                        <th>تاریخ ویرایش</th>
                                        <th>عنوان</th>
                                        <th>توضیحات</th>
                                        <th>تعداد پست ها</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% allCategories.forEach(category => { %>
                                        <tr>
                                            <td><%= category.createdAt.toLocaleDateString() %></td>
                                            <td><%= category.updatedAt.toLocaleDateString() %></td>
                                            <td><%= category.title %></td>
                                            <td><%= category.description %></td>
                                            <td>
                                                <i class="icon-comment"></i>
                                                <%= category.dataValues.postNumber %>
                                            </td>
                                            <td>
                                                <a class="text-info" href="/admin/categories/edit/<%= category.title %>">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <% if (isAdmin) { %>
                                                    <a data-toggle="modal" class="text-danger" href="#deleteCategory" data-whatever="<%= category.title %>">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                <% } %> 
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../../partials/admin-sidebar.ejs') %>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
    <%- include('../../partials/javascript.ejs') %>
    <% if (isAdmin) { %>
        <!-- modal delete post -->
        <div class="modal fade" id="deleteCategory" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="deleteCategoryForm" action="/admin/categories" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteProjectLabel">میخوای دسته بندی رو حذف کنی؟</h5>
                        </div>
                        <div class="modal-body">
                            <p class="text-justify">
                                اگه مطمئنی میخوای حذفش کنی ما کاری به کارت نداریم حذفش بکن. ولی یادت باشه بعد حذف شدن دیگه نمیتونی برش گردونی.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="button" class="btn btn-secondary ml-4" data-dismiss="modal">اشتب شد، دستم خورد روش</button>
                            <button type="submit" class="btn btn-primary">آره مطمئنم حذفش کن</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal delete post -->
        <script>
            const formAction = $('#deleteCategoryForm').attr('action');

            $('#deleteCategory').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                const postId = button.data('whatever');

                $('#deleteCategoryForm').attr('action', `${formAction}/${postId}?_method=DELETE`);
            }).on('hide.bs.modal',  function () {
                $('#deleteCategoryForm').attr('action', formAction);
            });
        </script>
    <% } %>
</body>

</html>