<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <%- include('./partials/stylesheet.ejs') %>
</head>

<body class="text-right">
    <%- include('./partials/menu.ejs') %>
    <%- include('./partials/header.ejs') %>
    <!-- Intro Section-->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="h3">مال چی چی باس این بلاگو زیرو رو کنی؟</h2>
                    <p class="text-big text-justify">
                        منو میتونی برنامه نویس، تعمیر کار و یه <strong>عاشق تکنولوژی</strong> بدونی
                        من این کارو استارت زدم چونکه یه جورایی <strong>عاشق بیزینس</strong> هم هستم.
                        اینجا قرار در مورد بیزینسایی که محورشون تکنولوژی هس صحبت بکنیم. پس خبری از 
                        بیزینس های سنتی اینجی نیس. یه نکته دیگه رو هم بگم: بزرگترین موفقیت شما استفاده
                        درس از <strong>قدرت تخیلتون</strong> هس.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="featured-posts no-padding-top">
        <div class="container">
            <!-- Important posts -->
            <% importantPosts.forEach((post, i) => { %>
                <div class="row d-flex align-items-stretch">
                    <div class="text col-lg-7">
                        <div class="text-inner d-flex align-items-center">
                            <div class="content">
                                <header class="post-header">
                                    <div class="category">
                                        <% post.categories.forEach(category => { %>
                                            <a href="/posts/category/<%= category.title %>">
                                                <%= category.title %>
                                            </a>
                                        <% }) %>
                                    </div>
                                    <a href="/posts/<%= post.slug %>">
                                        <h2 class="h4">
                                            <%= post.title %>
                                        </h2>
                                    </a>
                                </header>
                                <p>
                                    <%= post.description %>
                                </p>
                                <footer class="post-footer d-flex align-items-center">
                                    <a href="/posts/user/<%= post.user.id %>" class="author d-flex align-items-center flex-wrap">
                                        <div class="avatar">
                                            <img src="<%= post.thumbnail %>" alt="<%= post.title %>" class="img-fluid">
                                        </div>
                                        <div class="title">
                                            <span>
                                                <%= post.user.fullname %>
                                            </span>
                                        </div>
                                    </a>
                                    <div class="date">
                                        <i class="icon-clock"></i>
                                        کی پستو نوشتیم: <%= post.createdAt.toLocaleDateString() %>
                                        <br>
                                        <i class="icon-clock"></i>
                                        آخرین بازبینی پست: <%= post.updatedAt.toLocaleDateString() %>
                                    </div>
                                    <div class="comments">
                                        <i class="icon-comment"></i>
                                        <%= post.dataValues.commentsCounter %>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div class="image col-lg-5">
                        <img src="<%= post.baner %>" alt="<%= post.title %>" class="img-fluid">
                    </div>
                </div>
            <% }) %>
        </div>
    </section>

    <!-- Divider Section-->
    <section style="background: url(/img/divider-bg.jpg); background-size: cover; background-position: center bottom;" class="divider">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2>
                        ما اینجی براتون یه چیزی رو ممکن ساختیم، اونم اینه: تجربه و دانشتو تو زمینه بیزینس های جدید که میاد بالا ببری
                    </h2>
                    <a href="#" class="hero-link">
                        برای اینکه بیشتر بدونی کلیک کن. اینم یادت باشه که ما پستامون تاریخ انقضا ندارن.
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Latest Posts -->
    <section class="latest-posts">
        <div class="container">
            <header>
                <h2>آخرین پستا</h2>
            </header>
            <div class="row">
                <% latestPosts.forEach(post => { %>
                    <div class="post col-md-4">
                        <div class="post-thumbnail">
                            <a href="/posts/<%= post.slug %>">
                                <img src="<%= post.thumbnail %>" alt="..." class="img-fluid">
                            </a>
                        </div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="text-muted">
                                    کی پستو نوشتیم: <%= post.createdAt.toLocaleDateString() %>
                                    <br>
                                    آخرین بازبینی پست: <%= post.updatedAt.toLocaleDateString() %>
                                </div>
                                <div class="category">
                                    <% post.categories.forEach(category => { %>
                                        <a href="/posts/category/<%= category.title %>">
                                            <%= category.title %>
                                        </a>
                                    <% }) %>
                                </div>
                            </div>
                            <a href="/posts/<%= post.slug %>">
                                <h3 class="h4">
                                    <%= post.title %>    
                                </h3>
                            </a>
                            <p class="text-muted">
                                <%= post.description %>
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>    
    <%- include('./partials/newsletter.ejs') %>
    <%- include('./partials/galery.ejs') %>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/javascript.ejs') %>
</body>

</html>