<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <%- include('./partials/stylesheet.ejs') %>
</head>

<body class="text-right">
    <%- include('./partials/menu.ejs') %>
    <div class="container">
        <div class="row">
            <!-- Main Section-->
            <div class="container my-5 py-3 text-center w-50">
                <%- include('./partials/messages.ejs') %>
                <div class="kpx_login">
                    <h3 class="kpx_authTitle mb-3">
                        لاگین کن یا <a href="/register">ثبت نام</a>
                    </h3>
                    <br>
                    <div class="row kpx_row-sm-offset-3 kpx_socialButtons">
                        <div class="col-4 bg-info mx-auto">
                            <a href="/auth/github" class="btn btn-lg btn-block kpx_btn-github" data-toggle="tooltip"
                                data-placement="top" title="Github">
                                <i class="fa fa-github fa-2x"></i>
                                <span class="hidden-xs"></span>
                            </a>
                        </div>
                        <div class="col-4 bg-danger mx-auto">
                            <a href="/auth/google" class="btn btn-lg btn-block kpx_btn-google-plus"
                                data-toggle="tooltip" data-placement="top" title="Google">
                                <i class="fa fa-google fa-2x"></i>
                                <span class="hidden-xs"></span>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row kpx_row-sm-offset-3 kpx_loginOr">
                        <div class="col-12 mb-3">
                            <hr class="kpx_hrOr">
                            <span class="kpx_spanOr">یا</span>
                        </div>
                    </div>
                    <div class="row kpx_row-sm-offset-3">
                        <div class="col-12">
                            <form class="kpx_loginForm" action="/login" autocomplete="off" method="POST">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-user input-group-text h-100"></span>
                                        </div>
                                        <input type="email" autofocus class="form-control" name="email" placeholder="ایمیلت">
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-key input-group-text h-100"></span>
                                        </div>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="password" class="form-control" name="password"
                                            placeholder="رمز عبورت">
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">
                                        <i class="fa fa-sign-in"></i>
                                        لاگین
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row kpx_row-sm-offset-3">
                        <div class="col-6">
                            <p class="kpx_forgotPwd">
                                <a href="#" data-target="#pwdModal" data-toggle="modal">
                                    رمزتو یادت رفته؟
                                </a>
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="kpx_forgotPwd">
                                <a href="#" data-target="#emailModal" data-toggle="modal">
                                    اکانتت فعال نی؟
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./partials/widget.ejs') %>
        </div>
    </div>

    <div id="emailModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center w-100">میخوای اکانتتو فعال کنی؟</h1>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">
                                    <p>
                                        اگه اکانتت فعال نی، اینجی میتونی فعالش کنی
                                    </p>
                                    <div class="panel-body">
                                        <form action="/email-verification" method="post">
                                            <fieldset>
                                                <div class="form-group">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <input class="form-control input-lg"
                                                        placeholder="ایمییلی رو که باهاش ثبت نام کردی بتایپ"
                                                        name="email" type="email">
                                                </div>
                                                <input class="btn btn-lg btn-primary btn-block"
                                                    value="آغاز فرایند فعال سازی اکانت" type="submit">
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 text-left">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">بیخیال</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center w-100">رمز عبورم چیه؟</h1>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">
                                    <p>
                                        اگه رمزتو یادت رفته اینجی میتونی عوضش کنی.
                                    </p>
                                    <div class="panel-body">
                                        <form action="/password-reset" method="post">
                                            <fieldset>
                                                <div class="form-group">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <input class="form-control input-lg"
                                                        placeholder="ایمییلی رو که باهاش ثبت نام کردی بتایپ"
                                                        name="email" type="email">
                                                </div>
                                                <input class="btn btn-lg btn-primary btn-block"
                                                    value="آغاز فرایند بازیابی رمز عبور" type="submit">
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 text-left">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">بیخیال</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/galery.ejs') %>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/javascript.ejs') %>
    <script>$(function () { $('[data-toggle="tooltip"]').tooltip() })</script>
</body>

</html>