<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <%- include('../partials/stylesheet.ejs') %>
</head>

<body class="text-right">
    <%- include('../partials/menu.ejs') %>
    <div class="container">
        <div class="row">
            <!-- post -->
            <main class="post blog-post col-lg-8">
                <div class="container">
                    <div class="post-single">
                        <div class="post-thumbnail">
                            <img src="<%= post.baner %>" alt="<%= post.title %>" class="img-fluid">
                        </div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="category">
                                    <% post.categories.forEach(category => { %> 
                                        <a href="/posts/category/<%= category.title %>">
                                            <%= category.title %>
                                        </a>
                                    <% }) %>
                                </div>
                            </div>
                            <h1>
                                <%= post.title %>
                                <a href="/posts/<%= post.slug %>">
                                    <i class="fa fa-bookmark-o"></i>
                                </a>
                            </h1>
                            <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                                <a href="/posts/user/<%= post.user.id %>" class="author d-flex align-items-center flex-wrap">
                                    <div class="avatar">
                                        <img src="<%= post.user.avatar %>" alt="تصویر کاربر" class="img-fluid">
                                    </div>
                                    <div class="title">
                                        <span>
                                            <%= post.user.fullname %>
                                        </span>
                                    </div>
                                </a>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="date">
                                        <i class="icon-clock"></i>
                                        کی پستو نوشتیم: <%= post.createdAt.toLocaleDateString() %> | 
                                        <br>
                                        <i class="icon-clock"></i>
                                        آخرین بازبینی پست: <%= post.updatedAt.toLocaleDateString() %>
                                    </div>
                                    <div class="views">
                                        <i class="icon-eye"></i>
                                        <%= post.post_views.length %>
                                    </div>
                                    <div class="comments meta-last">
                                        <i class="icon-comment"></i>
                                        <%= post.comments.length %>
                                    </div>
                                </div>
                            </div>
                            <div class="post-body">
                                <%- post.sanitizedContent %>
                            </div>
                            <div class="post-tags">
                                <% post.tags.forEach(tag => { %> 
                                    <a href="/posts/tag/<%= tag.title %>" class="tag">
                                        #<%= tag.title %>
                                    </a>
                                <% }) %>
                            <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                                <% if (prevPost) { %>
                                    <a href="/posts/<%= prevPost.slug %>" class="prev-post text-left d-flex align-items-center">
                                        <div class="icon prev">
                                            <i class="fa fa-angle-right"></i>
                                        </div>
                                        <div class="text">
                                            <strong class="text-primary">پست قبلی </strong>
                                            <h6>
                                                <%= prevPost.title %>
                                            </h6>
                                        </div>
                                    </a>
                                <% } %>
                                <% if (nextPost) { %>
                                    <a href="/posts/<%= nextPost.slug %>" class="next-post text-right d-flex align-items-center justify-content-end">
                                        <div class="text">
                                            <strong class="text-primary">پست بعدی </strong>
                                            <h6>
                                                <%= nextPost.title %>
                                            </h6>
                                        </div>
                                        <div class="icon next">
                                            <i class="fa fa-angle-left"> </i>
                                        </div>
                                    </a>
                                <% } %>
                            </div>
                            <div class="post-comments">
                                <%- include('../partials/messages.ejs') %>
                                <header>
                                    <h3 class="h6">
                                        کامنتای پست
                                        <span class="no-of-comments">
                                            <%= post.comments.length %>
                                        </span>
                                    </h3>
                                </header>
                                <% post.comments.forEach((comment) => { %>
                                    <div class="comment mb-4">
                                        <div class="comment-header d-flex justify-content-between">
                                            <div class="user d-flex align-items-center">
                                                <div class="image">
                                                    <img src="<%= comment.user.avatar %>" alt="تصویر کاربر" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="title">
                                                    <strong>
                                                        <%= comment.user.fullname %>
                                                    </strong>
                                                    <span class="date">
                                                        <%= comment.createdAt.toLocaleDateString() %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-body">
                                            <%- comment.sanitizedContent %>
                                        </div>
                                        <% if (isLoggedIn) { %>
                                            <button class="btn btn-link text-secondary" onclick="reply(this)" data-whatever="<%= comment.id %>" data-markedContent="<blockquote><%= comment.markedContent %></blockquote>" >
                                                <i class="fa fa-reply" aria-hidden="true"></i>
                                            </button>
                                            <% if (userId === comment.userId || isAdmin) { %>
                                                <button class="btn btn-link text-danger" data-target="#deleteComment" data-toggle="modal" data-whatever="<%= comment.id %>">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-link text-success" data-toggle="modal" data-target="#editComment" data-whatever="<%= comment.id %>" data-markedContent="<%= comment.markedContent %>" >
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </button>
                                            <% } %>
                                        <% } %>
                                    </div>
                                <% }) %>
                            </div>
                            <div class="add-comment">
                                <% if (isLoggedIn) { %>
                                    <form action="/comments/create" class="commenting-form" method="POST">
                                        <div class="row">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <input type="hidden" value="<%= post.id %>" name="postId" >
                                            <input type="hidden" name="commentId" id="commentId" >
                                            <div class="form-group col-12">
                                                <textarea id="markedContent" maxlength="800" name="markedContent" placeholder="پیغومتو این زره بینویس" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group col-12">
                                                <button type="submit" class="btn btn-secondary">ثبت نظر</button>
                                            </div>
                                        </div>
                                    </form>
                                <% } else { %>
                                    <header>
                                        <h3 class="h6">میخوای جوابشو بدی؟</h3>
                                    </header>
                                    <p>
                                        برا ثبن نظرت باس لاگین بکنی.
                                    </p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/widget.ejs') %>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/javascript.ejs') %>

    <% if (isLoggedIn) { %>
        <!-- modal delete comment -->
        <div class="modal fade" id="deleteComment" tabindex="-1" role="dialog" aria-labelledby="deleteCommentLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="deleteCommentForm" action="/comments" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" >میخوای کامنت رو حذف کنی؟</h5>
                        </div>
                        <div class="modal-body">
                            <p class="text-justify">
                                اگه مطمئنی میخوای حذفش کنی ما کاری به کارت نداریم حذفش بکن. ولی یادت باشه بعد حذف شدن دیگه نمیتونی برش گردونی.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="button" class="btn btn-info ml-4" data-dismiss="modal">اشتب شد، دستم خورد روش</button>
                            <button type="submit" class="btn btn-warning">آره مطمئنم حذفش کن</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal delete comment -->
        <!-- modal edit comment -->
        <div class="modal fade" id="editComment" tabindex="-1" role="dialog" aria-labelledby="editCommentLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="editCommentForm" action="/comments" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" >میخوای کامنتت رو ویرایش کنی؟</h5>
                        </div>
                        <div class="modal-body">
                            <textarea style="height: 200px;" id="editMarkedContent" maxlength="800" name="markedContent" placeholder="پیغومتو این زره بینویس" class="form-control "></textarea>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="button" class="btn btn-info ml-4" data-dismiss="modal">بیخیال</button>
                            <button type="submit" class="btn btn-warning">آره مطمئنم ویرایشش کن</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal edit comment -->
        <script>
            const deleteformAction = $('#deleteCommentForm').attr('action');
            const editformAction = $('#editCommentForm').attr('action');

            $('#deleteComment').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                const commentId = button.data('whatever');

                $('#deleteCommentForm').attr('action', `${deleteformAction}/${commentId}?_method=DELETE`);
            }).on('hide.bs.modal',  function () {
                $('#deleteCommentForm').attr('action', deleteformAction);
            });

            $('#editComment').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                const commentId = button.data('whatever');
                const markedContent = button.data('markedcontent');
                console.log(button.data());

                $('#editCommentForm').attr('action', `${editformAction}/${commentId}?_method=PUT`);
                $('#editMarkedContent').val(markedContent);
            }).on('hide.bs.modal',  function () {
                $('#editCommentForm').attr('action', editformAction);
            });
            
            function reply(element){
                if ($('#commentId').attr('value') === $(element).attr('data-whatever')) {
                    $(element).attr('style', 'background-color: transparent;')
                    $('#markedContent').val('');
                    $('#commentId').attr('value', '');
                } else {
                    $('button[onclick="reply(this)"]').attr('style', 'background-color: transparent;');
                    $(element).attr('style', 'background-color: whitesmoke;')
                    $('#commentId').attr('value', '');
                    $('#commentId').attr('value', $(element).attr('data-whatever'));
                    $('#markedContent').val($(element).attr('data-markedContent'));
                };
            };
        </script>
    <% } %>
</body>

</html>
