<aside class="col-lg-4">
    <!-- Widget [Comments Bar Widget]-->
    <div class="widget search">
        <header>
            <h3 class="h6">
                <% if (isAdmin) { %>
                    آخرین کامنتا روی پستات
                <% } else { %>
                    جواب کامنتات
                <% } %>
            </h3>
        </header>
        <!-- comments -->
        <!-- answers to your comment, comments below your post -->
    </div>
    <!-- Widget [Profile Widget]        -->
    <div class="widget latest-posts">
        <header>
            <a href="/admin/users" class="h6">
                پروفایل
            </a>
        </header>
        <div class="blog-posts">
            <div class="item d-flex align-items-center">
                <div class="image">
                    <img src="<%= user.avatar %>" alt="<%= user.fullname %>" class="img-fluid">
                </div>
                <div class="title mr-2">
                    <strong>
                        <%= user.fullname %>
                    </strong>
                    <div class="d-flex align-items-center">
                        <div class="comments" style="direction: ltr;">
                            <%= user.email %>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="comments" style="direction: ltr;">
                            <%= user.phone %>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="comments">
                            تاریخ عضویت: 
                            <%= user.createdAt.toLocaleDateString() %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if (isAdmin) { %> 
        <div class="widget categories">
            <header>
                <h6>
                    <a href="/admin/contact-us" >
                        بخش تماس با ما
                    </a>
                </h6>
            </header>
        </div>
        <!-- Widget [Categories Widget]-->
        <div class="widget categories">
            <header>
                <h6>
                    <a href="/admin/categories" >
                        دسته بندی ها
                    </a>
                    یی که تو پست براشون داری
                </h6>
            </header>
            <% categories.forEach(category => { %>
                <% if (category.dataValues.postNumber > 0) { %>
                    <div class="item d-flex justify-content-between">
                        <a href="/admin/posts/category/<%= category.title %>">
                            <%= category.title %>
                        </a>
                        <span>
                            <%= category.dataValues.postNumber %>
                        </span>
                    </div>
                <% } %>
            <% }) %>
        </div>
        <!-- Widget [Tags Cloud Widget]-->
        <div class="widget tags">
            <header>
                <h6>
                    <a href="/admin/tags" >
                        تگا
                    </a>
                    یی که تو پست براشون داری
                </h6>
            </header>
            <ul class="list-inline">
                <% tags.forEach(tag => { %>
                    <% if (tag.dataValues.postNumber > 0) { %>
                        <li class="list-inline-item">
                            <a href="/admin/posts/tag/<%= tag.title %>" class="tag">
                                #<%= tag.title %> (<%= tag.dataValues.postNumber %>)
                            </a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    <% } %>
</aside> 