<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <%- include('../partials/stylesheet.ejs') %>
</head>

<body class="text-right">
    <%- include('../partials/menu.ejs') %>
    <div class="container">
        <div class="row">
            <!-- Posts -->
            <main class="posts-listing col-lg-8">
                <div class="container">
                    <div class="row">
                        <%- include('../partials/messages.ejs') %>
                    </div>
                    <div class="row">
                        <% comments.forEach(comment => { %>
                        <!-- post -->
                        <div class="post col-xl-6">
                            <div class="post-details">
                                <div class="post-meta d-flex justify-content-between">
                                    <div class="date meta-last">
                                        نوشته شده: <%= comment.createdAt.toLocaleDateString() %>
                                        ویرایش شده: <%= comment.updatedAt.toLocaleDateString() %>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <a href="/admin/users/<%= comment.user.id %>">
                                        <%= comment.user.email %>
                                    </a>
                                </div>
                                <p class="text-muted text-justify">
                                    <%- comment.sanitizedContent %>
                                </p>
                                <footer class="post-footer d-flex align-items-center">
                                    <div class="comments">
                                        <a class="text-success" href="/posts/<%= comment.post.slug %>">
                                            <i class="fa fa-reply"></i>
                                        </a>
                                    </div>
                                    <div class="comments meta-last">
                                        <a data-toggle="modal" class="text-danger" href="#deleteComment" data-whatever="<%= comment.id %>">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </footer>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </main>
            <%- include('../partials/admin-sidebar.ejs') %>
        </div>
    </div>
    <div class="modal fade" id="deleteComment" style="z-index: 20000;" tabindex="-1" role="dialog" aria-labelledby="deleteCommentLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="deleteCommentForm" action="/admin/contact-us" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteProjectLabel">میخوای این پیامو حذف کنی؟</h5>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">
                            اگه مطمئنی میخوای حذفش کنی ما کاری به کارت نداریم حذفش بکن. ولی یادت باشه بعد حذف شدن دیگه نمیتونی برش گردونی.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="button" class="btn btn-success ml-4" data-dismiss="modal">اشتب شد، دستم خورد روش</button>
                        <button type="submit" class="btn btn-warning">آره مطمئنم حذفش کن</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/javascript.ejs') %>
    <script>
        const deleteFormAction = $('#deleteCommentForm').attr('action');

        $('#deleteComment').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const ticketId = button.data('whatever');

            $('#deleteCommentForm').attr('action', `${deleteFormAction}/${ticketId}?_method=DELETE`);
        }).on('hide.bs.modal',  function () {
            $('#deleteCommentForm').attr('action', deleteFormAction);
        });
    </script>
</body>

</html>
