<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <%- include('../../partials/stylesheet.ejs') %>
</head>

<body class="text-right">
    <%- include('../../partials/menu.ejs') %>
    <div class="container">
        <div class="row">
            <!-- Posts -->
            <main class="posts-listing col-12">
                <div class="container">
                    <div class="row">
                        <%- include('../../partials/messages.ejs') %>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form action="/admin/tags/create" method="post" class="" enctype="multipart/form-data">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <%- include('../../partials/tag-form-inputs.ejs') %>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
    <%- include('../../partials/javascript.ejs') %>
    <script>
        $('textarea').keyup(function (event) {
            this.style.overflow = 'hidden';
            this.style.height = 0;
            this.style.height = this.scrollHeight + 'px';
        });
    </script>
</body>

</html>