<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <%- include('../../partials/stylesheet.ejs') %>
    <style>
        .user-role-radio {
            cursor:pointer;
        }
        .user-role-radio.selected{
            box-shadow: 5px 5px 10px black;
        }
    </style>
</head>

<body class="text-right">
    <%- include('../../partials/menu.ejs') %>
    <div class="container">
        <div class="row">
            <!-- Posts -->
            <main class="posts-listing col-12">
                <div class="container">
                    <div class="row">
                        <%- include('../../partials/messages.ejs') %>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form action="/admin/users/create" method="post" enctype="multipart/form-data">
                                <div class="row mb-4">
                                    <div class="col-12" id="userRoleRadioGroup">
                                        <% userRoles.forEach(role => { %>
                                            <span class="user-role-radio h5 text-white badge badge-secondary" data-value="<%= role.id %>">
                                                <%= role.title %>
                                            </span>
                                        <% }) %>
                                        <input type="hidden" id="userRoleId" name="userRoleId" />
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <input id="password" type="password" name="password" minlength="8"
                                            class="form-control" placeholder="یه رمز عبور انتخاب کن" required>
                                        <span class="help-block text-muted">
                                            رمز عبورت متشکل از عدد و حروف باشه و حداقل ۸ کاراکتر طولش باشه.
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <input id="confirmPassword" type="password" name="confirmPassword" minlength="8"
                                           class="form-control" placeholder="تکرار رمز عبور" required>
                                        <span class="help-block text-muted">
                                            دقت کن تکرار رمز عبورت با اون چیزی که تایپیدی یکی باشه
                                        </span>
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <%- include('../../partials/user-form-inputs.ejs') %>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
    <%- include('../../partials/javascript.ejs') %>
    <script>
        const password = document.getElementById("password");
        const confirmPassword = document.getElementById("confirmPassword");

        $('textarea').keyup(function (event) {
            this.style.overflow = 'hidden';
            this.style.height = 0;
            this.style.height = this.scrollHeight + 'px';
        });

        function validatePassword() {
            if (password.value != confirmPassword.value) {
                confirmPassword.setCustomValidity("رمزای عبورت که تایپیدی یکی نیستن");
            } else {
                confirmPassword.setCustomValidity('');
            };
        };

        password.onchange = validatePassword;
        confirmPassword.onkeyup = validatePassword;

        $('#userRoleRadioGroup .user-role-radio').click(function () {
            $(this).parent().find('.user-role-radio').removeClass('selected');
            $(this).addClass('selected');
            var val = $(this).attr('data-value');
            // alert(val);
            $('#userRoleId').val(val);
        });
    </script>
</body>

</html>