<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <%- include('../../partials/stylesheet.ejs') %>
</head>

<body class="text-right">
    <%- include('../../partials/menu.ejs') %>
    <div class="container">
        <div class="row">
            <!-- Categories -->
            <main class="posts-listing col-8">
                <div class="row">
                    <div class="col-12">
                        <%- include('../../partials/messages.ejs') %>
                    </div>
                    <% if (isAdmin) { %>
                        <div class="col-12 mb-3" >
                            <div class="row" >
                                <a href="/admin/users/create" >
                                    <i class="bg-success p-3 rounded-circle text-white fa fa-plus"></i>
                                </a>
                                <span>ایجاد یه ادمین جدید</span>
                            </div>
                        </div>
                    <% } %>
                    <div class="col-12">
                        <% if (isAdmin) { %>
                            <div class="row">
                                <table class="table table-borderless table-striped  ml-5">
                                    <thead>
                                        <tr>
                                            <th>تاریخ ایجاد</th>
                                            <th>تاریخ ویرایش</th>
                                            <th>
                                                نام 
                                                <i class="fa fa-user"></i>
                                            </th>
                                            <th>
                                                ایمیل
                                                <i class="fa fa-envelope"></i>
                                            </th>
                                            <th>
                                                شماره تلفن
                                                <i class="fa fa-phone"></i>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(user => { %>
                                            <tr>
                                                <td><%= user.createdAt.toLocaleDateString() %></td>
                                                <td><%= user.updatedAt.toLocaleDateString() %></td>
                                                <td><%= user.fullname %></td>
                                                <td><%= user.email %></td>
                                                <td><%= user.phone %></td>
                                                <td>
                                                    <a class="text-info" href="/admin/users/edit/<%= user.id %>">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a data-toggle="modal" class="text-danger" href="#deleteUser" data-whatever="<%= user.id %>">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        <% } else { %>
                            <div class="col-12">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">ویرایش اطلاعات کلی</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="passwordReset-tab" data-toggle="tab" href="#passwordReset" role="tab" aria-controls="passwordReset" aria-selected="false">تغیر رمز عبور</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="deleteAccount-tab" data-toggle="tab" href="#deleteAccount" role="tab" aria-controls="deleteAccount" aria-selected="false">لغو عضویت</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active mt-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <form action="/admin/users/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <%- include('../../partials/user-form-inputs.ejs') %>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade mt-4" id="passwordReset" role="tabpanel" aria-labelledby="passwordReset-tab">
                                        <form action="/admin/users/password-reset" method="post">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <div class="row mb-4">
                                                <div class="col-12">
                                                    <input type="password" name="oldPassword" maxlength="255" class="form-control" placeholder="رمز قبلیت" required>
                                                    <span class="help-block text-muted">
                                                        فقط یادت باشه اگه می‌خوای رمز عبورتو عوض کنی باس این فبلدو حتما پر کنی
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-6">
                                                    <input type="password" name="newPassword" maxlength="255" class="form-control" placeholder="یه رمز عبور انتخاب کن" required>
                                                    <span class="help-block text-muted">
                                                        رمز عبورت متشکل از عدد و حروف باشه و حداقل ۸ کاراکتر طولش باشه. فاصله بینش نزاریو
                                                    </span>
                                                </div>
                                                <div class="col-6">
                                                    <input type="password" name="confirmNewPassword" class="form-control" placeholder="تکرار رمز عبور جدیدت" required>
                                                    <span class="help-block text-muted">
                                                        دقت کن تکرار رمز عبورت با اون چیزی که تایپیدی یکی باشه
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-lg btn-warning" >تغیر رمز عبور</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade mt-4" id="deleteAccount" role="tabpanel" aria-labelledby="deleteAccount-tab">
                                        <form action="/admin/users/<%= user.id %>?_method=DELETE" method="post">
                                            <div class="row mb-4">
                                                <div class="col-12">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <button type="button" data-toggle="modal" data-target="#deleteUser" class="btn btn-lg btn-warning"  >لغو عضویت</button>
                                                    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="deleteProjectLabel">میخوای لغو عضویت بکنی؟</h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p class="text-justify">
                                                                        اگه مطمئنی میخوای عضویتت رو لغو کنی لطفا تائید بکن
                                                                    </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-success ml-4" data-dismiss="modal">اشتب شد، دستم خورد روش</button>
                                                                    <button type="submit" class="btn btn-danger">آره مطمئنم حذفش کن</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </main>
            <%- include('../../partials/admin-sidebar.ejs') %>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
    <%- include('../../partials/javascript.ejs') %>
    <% if (isAdmin) { %>
        <!-- modal delete post -->
        <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="deleteUserForm" action="/admin/users" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title">میخوای این کاربرو حذف کنی؟</h5>
                        </div>
                        <div class="modal-body">
                            <p class="text-justify">
                                اگه مطمئنی میخوای حذفش کنی ما کاری به کارت نداریم حذفش بکن. ولی یادت باشه بعد حذف شدن دیگه نمیتونی برش گردونی.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="button" class="btn btn-secondary ml-4" data-dismiss="modal">اشتب شد، دستم خورد روش</button>
                            <button type="submit" class="btn btn-primary">آره مطمئنم حذفش کن</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal delete post -->
        <script>
            const formAction = $('#deleteUserForm').attr('action');

            $('#deleteUser').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                const postId = button.data('whatever');

                $('#deleteUserForm').attr('action', `${formAction}/${postId}?_method=DELETE`);
            }).on('hide.bs.modal',  function () {
                $('#deleteUserForm').attr('action', formAction);
            });
        </script>
    <% } %>
</body>

</html>